
EmployeeManagementSol/.vs/
EmployeeManagementSol/EmployeeManagement.API/obj/
EmployeeManagementSol/EmployeeManagement.Application/obj/
EmployeeManagementSol/EmployeeManagement.Common/obj/
EmployeeManagementSol/EmployeeManagement.Context/obj/
EmployeeManagementSol/EmployeeManagement.Repository/obj/
EmployeeManagementSol/EmployeeManagement.API/bin/
EmployeeManagementSol/EmployeeManagement.Application/bin/
EmployeeManagementSol/EmployeeManagement.Common/bin/
EmployeeManagementSol/EmployeeManagement.Context/bin/
EmployeeManagementSol/EmployeeManagement.Repository/bin/
